@import "styles/demo.scss";

.wrapper {
    background: var(--light-bg);
    padding-bottom: 20px;
}

.searchbar {
    background: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}