.wrapper {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.cinema {
  height: 300px;
  width: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 16px rgba(195, 195, 195, 0.24);
}
